/* import fonts: shojumaru for headings and ubuntu for main text */
@import url('https://fonts.googleapis.com/css?family=Shojumaru|Ubuntu');

/* box sizing fix */
* {
	box-sizing: border-box;
}

/* Header fonts */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Shojumaru', cursive;
	font-weight: 800;
}

h1 {
	font-size: 38px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 30px;
	/* main text fonts */
	font-family: 'Ubuntu', sans-serif;
}

body {
	/* water repeat */
	background: url("../images/onePiece/pageBGRepeat.jpg");
	min-height: 100vh;
	min-width: 90vw;
	background-size: auto 100%;
	background-position: center bottom;
	/* main text fonts */
	font-family: 'Ubuntu', sans-serif;
}

.contentContainer {
	/* styling to make the image work */
	position: relative;
	background: url("../images/onePiece/pageBackground.jpg");
	min-height: 100vh;
	max-width: 800px;
	min-width: 90%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* position the element on the page */
	margin: 0 auto;
}

/* style to START */

.startPos {
	position: absolute;
}

.warriorContainer {
	display: inline-block;
}

.warriorTitle {
	height: auto;
	width: auto;
	border: thin solid #333;
	background: #aaa;
	opacity: .8;
	overflow: hidden;
	border-radius: 5px;
}

/* notes for adding more stats to warriors */

.name {
    display: block;
    width: 100%;
    padding: .1em 2em;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    position: relative;
	padding: 3px .3em;
}

h3 {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding: 3px .3em;
    background: #222;
	color: #eee;
	border-left: #333 solid thin;
}

.monster .name {
    font-size: 18px;
    line-height: 22px;
    padding: 2px 0;
}

.monster h3 {
    font-size: 15px;
    padding: 2px 0;
    line-height: 19px;
    width: 50%;
}

.imgContainer {
	/* position the elements */
	position: relative;
	/* make a circle with a thin border */
	border-radius: 40px;
	height: 200px;
	width: 200px;
	overflow: hidden;
	border: thin solid #777;
}

.startPos.warriorPos1 {
	top: 1%;
	left: 6%;
    z-index: 1;
}

.startPos.warriorPos2 {
	top: 57%;
    left: 77%;
    z-index: 4;
}

.startPos.warriorPos3 {
    top: 47%;
    left: 0%;
    z-index: 3;
}

.startPos.warriorPos4 {
	top: 0%;
	left: 69%;
    z-index: 2;
}

img.warrior {
	position: relative;
	left: -50%;
}

canvas.warrior {
	position: relative;
	left: -50%;
	height: auto;
	width: auto;
	background: green;
	opacity: 0;
}

/* Style for BATTLE */

.hero {
	position: absolute;
	transform: translate(0px, 50%);
}

.monster {
	position: relative;
	float: right;
	display: block;
	clear: both;
}

.monster.firstMonster {
	margin-top: 20px;
}

.monster .title {
	width: 120px;
	padding: .1em .2em;
	line-height: 1.5em;
	height: 1.5em;
}
.monster {
	transform:scale(.75,.75);
}

.monster.warriorContainer {
    margin: -25px 0;
}

img.attack {
	position: relative;
	left: -25%;
}

.defeated {
	opacity: .5;
	cursor: not-allowed;
}
.monster.defend {
	transform:scale(1,1);
	margin: 0;
}

.vsContainer {
	width: 450px;
    top: 50px;
    margin: 0 auto;
    position: relative;
}

.vsContainer .imgContainer {
	height: 350px;
    width: 450px;
}

.vsImg {
    left: -20%;
    height: 100%;
    position: relative;
}

.vsTitle {
    transform: rotate(30deg);
    font-size: 3em;
    color: red;
    text-shadow: black 3px 3px;
}

.vsTitleContainer {
    position: relative;
    width: 500px;
    text-align: center;
    top: 200px;
    margin: 0 auto;
    z-index: 100;
}

/* shrink vs image box */
.vsContainerSmall .imgContainer {
    height: 160px;
    width: 200px;
}

.vsContainerSmall .vsTitleContainer {
    width: 200px;
    top: 120px;
}

.vsContainerSmall .vsTitle {
    font-size: 2em;
    text-shadow: black 2px 2px;
}

.vsContainerSmall {
	margin: 0 auto;
    width: 200px;
    top: 0;
    text-align: center;
}

/* style battle button */
.battleBtn {
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px;
	border-radius: 10px;
	border: #a00 solid thin;
	border-bottom: #f88 solid thin;
	border-right: #f88 solid thin;
	background-color: #e55;
}
.battleBtn:hover, .battleBtn:focus {
	background-color: #e33;
	border: #f00 solid thin;
	border-top: #f88 solid thin;
	border-left: #f88 solid thin;
}
.battleBtn:active {
	background-color: #e88;
}

/* HOVER AND CLICK EFFECTS */
.monster:hover .imgContainer {
	border: solid 2px red;
}

/* GAME INFO STYLING - gets the job done, I guess */
.gameInfo {
	position: relative;
	width: 18em;
	margin: 0 auto;
	background: #111;
	border: #999 solid 2px;
	color: #fff;
	opacity: .8;
	padding: 1em;
	border-radius: 7px;
	top: 1em;
}
.gameInfo h1{
	font-size: 28px;
}
.gameInfo p {
	font-size: 18px;
	padding: .5em 0;
	line-height: 1.2em;
}
.gameInfo .divider {
	height: 1px;
	border-top: thin solid #aaa;
	padding: 0;
    margin: 0;
}

/* END GAME SCREEN STYLING */
.winContainer, .loseContainer {
	position: relative;
	text-align: center;
	width: 80%;
	font-size: 36px;
	height: 400px;
	margin: 0 auto;
	top: 50px;
	overflow: hidden;
}
.win, .lose {
	position: absolute;
	height: 400px;
	width: 100%;
	background: url("../images/onePiece/asfalt-light.png");
}
.win h1, .lose h1 {
	position: relative;
	margin: 0 auto;
	margin-top: 150px;
	font-size: 40px;
}
.win h1, .lose h1 {
	position: relative;
	top: 0;
}

/* WIN SCREEN STYLING */
.winContainer {
	background: #094;
    border: solid #054 4px;
}

/* LOSE SCREEN STYLING */
.loseContainer {
	background: #d22;
	border: solid #611 4px;
}
